In [1]:
#Using Sort_values and sort_index methpod.

In [2]:
import pandas as pd
t=pd.read_csv('titanic.csv')

In [3]:
t.head(3)

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN

In [4]:
t.age.sort_values(ascending=True)#Implementation on Series

803    0.42
755    0.67
644    0.75
469    0.75
78     0.83
831    0.83
305    0.92
827    1.00
381    1.00
164    1.00
183    1.00
386    1.00
172    1.00
788    1.00
642    2.00
7      2.00
530    2.00
297    2.00
824    2.00
205    2.00
119    2.00
340    2.00
479    2.00
16     2.00
348    3.00
407    3.00
374    3.00
261    3.00
43     3.00
193    3.00
       ...
718     NaN
727     NaN
732     NaN
738     NaN
739     NaN
740     NaN
760     NaN
766     NaN
768     NaN
773     NaN
776     NaN
778     NaN
783     NaN
790     NaN
792     NaN
793     NaN
815     NaN
825     NaN
826     NaN
828     NaN
832     NaN
837     NaN
839     NaN
846     NaN
849     NaN
859     NaN
863     NaN
868     NaN
878     NaN
888     NaN
Name: age, Length: 891, dtype: float64

In [5]:
t.sort_values(by='age',ascending=True,inplace=False)#data set implementation

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
803         1       3    male  0.42      0      1    8.5167        C  NaN
755         1       2    male  0.67      1      1   14.5000        S  NaN
644         1       3  female  0.75      2      1   19.2583        C  NaN
469         1       3  female  0.75      2      1   19.2583        C  NaN
78          1       2    male  0.83      0      2   29.0000        S  NaN
831         1       2    male  0.83      1      1   18.7500        S  NaN
305         1       1    male  0.92      1      2  151.5500        S    C
827         1       2    male  1.00      0      2   37.0042        C  NaN
381         1       3  female  1.00      0      2   15.7417        C  NaN
164         0       3    male  1.00      4      1   39.6875        S  NaN
183         1       2    male  1.00      2      1   39.0000        S    F
386         0       3    male  1.00      5      2   46.9000        S  NaN
172         1       3  female  1.00      1      1   11.1333        S  NaN
788         1       3    male  1.00      1      2   20.5750        S  NaN
642         0       3  female  2.00      3      2   27.9000        S  NaN
7           0       3    male  2.00      3      1   21.0750        S  NaN
530         1       2  female  2.00      1      1   26.0000        S  NaN
297         0       1  female  2.00      1      2  151.5500        S    C
824         0       3    male  2.00      4      1   39.6875        S  NaN
205         0       3  female  2.00      0      1   10.4625        S    G
119         0       3  female  2.00      4      2   31.2750        S  NaN
340         1       2    male  2.00      1      1   26.0000        S    F
479         1       3  female  2.00      0      1   12.2875        S  NaN
16          0       3    male  2.00      4      1   29.1250        Q  NaN
348         1       3    male  3.00      1      1   15.9000        S  NaN
407         1       2    male  3.00      1      1   18.7500        S  NaN
374         0       3  female  3.00      3      1   21.0750        S  NaN
261         1       3    male  3.00      4      2   31.3875        S  NaN
43          1       2  female  3.00      1      2   41.5792        C  NaN
193         1       2    male  3.00      1      1   26.0000        S    F
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
718         0       3    male   NaN      0      0   15.5000        Q  NaN
727         1       3  female   NaN      0      0    7.7375        Q  NaN
732         0       2    male   NaN      0      0    0.0000        S  NaN
738         0       3    male   NaN      0      0    7.8958        S  NaN
739         0       3    male   NaN      0      0    7.8958        S  NaN
740         1       1    male   NaN      0      0   30.0000        S    D
760         0       3    male   NaN      0      0   14.5000        S  NaN
766         0       1    male   NaN      0      0   39.6000        C  NaN
768         0       3    male   NaN      1      0   24.1500        Q  NaN
773         0       3    male   NaN      0      0    7.2250        C  NaN
776         0       3    male   NaN      0      0    7.7500        Q    F
778         0       3    male   NaN      0      0    7.7375        Q  NaN
783         0       3    male   NaN      1      2   23.4500        S  NaN
790         0       3    male   NaN      0      0    7.7500        Q  NaN
792         0       3  female   NaN      8      2   69.5500        S  NaN
793         0       1    male   NaN      0      0   30.6958        C  NaN
815         0       1    male   NaN      0      0    0.0000        S    B
825         0       3    male   NaN      0      0    6.9500        Q  NaN
826         0       3    male   NaN      0      0   56.4958        S  NaN
828         1       3    male   NaN      0      0    7.7500        Q  NaN
832         0       3    male   NaN      0      0    7.2292        C  NaN
837         0       3    male   NaN      0      0    8.0500        S  NaN
839         1       1    male   NaN      0      0   29.7000        C    C
846         0       3    male   NaN      8      2   69.5500        S  NaN
849         1       1  female   NaN      1      0   89.1042        C    C
859         0       3    male   NaN      0      0    7.2292        C  NaN
863         0       3  female   NaN      8      2   69.5500        S  NaN
868         0       3    male   NaN      0      0    9.5000        S  NaN
878         0       3    male   NaN      0      0    7.8958        S  NaN
888         0       3  female   NaN      1      2   23.4500        S  NaN

[891 rows x 9 columns]

In [6]:
pd.options.display.max_rows=891
t.sort_values(by=['pclass','fare','age'],ascending=[True,True,True],inplace=False)

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
822         0       1    male  38.00      0      0    0.0000        S  NaN
806         0       1    male  39.00      0      0    0.0000        S    A
263         0       1    male  40.00      0      0    0.0000        S    B
633         0       1    male    NaN      0      0    0.0000        S  NaN
815         0       1    male    NaN      0      0    0.0000        S    B
872         0       1    male  33.00      0      0    5.0000        S    B
662         0       1    male  47.00      0      0   25.5875        S    E
168         0       1    male    NaN      0      0   25.9250        S  NaN
862         1       1  female  48.00      0      0   25.9292        S    D
796         1       1  female  49.00      0      0   25.9292        S    D
545         0       1    male  64.00      0      0   26.0000        S  NaN
284         0       1    male    NaN      0      0   26.0000        S    A
136         1       1  female  19.00      0      2   26.2833        S    D
701         1       1    male  35.00      0      0   26.2875        S    E
512         1       1    male  36.00      0      0   26.2875        S    E
707         1       1    male  42.00      0      0   26.2875        S    E
572         1       1    male  36.00      0      0   26.3875        S    E
430         1       1    male  28.00      0      0   26.5500        S    C
447         1       1    male  34.00      0      0   26.5500        S  NaN
604         1       1    male  35.00      0      0   26.5500        C  NaN
187         1       1    male  45.00      0      0   26.5500        S  NaN
536         0       1    male  45.00      0      0   26.5500        S    B
460         1       1    male  48.00      0      0   26.5500        S    E
857         1       1    male  51.00      0      0   26.5500        S    E
467         0       1    male  56.00      0      0   26.5500        S  NaN
11          1       1  female  58.00      0      0   26.5500        S    C
694         0       1    male  60.00      0      0   26.5500        S  NaN
252         0       1    male  62.00      0      0   26.5500        S    C
555         0       1    male  62.00      0      0   26.5500        S  NaN
456         0       1    male  65.00      0      0   26.5500        S    E
507         1       1    male    NaN      0      0   26.5500        S  NaN
711         0       1    male    NaN      0      0   26.5500        S    C
30          0       1    male  40.00      0      0   27.7208        C  NaN
194         1       1  female  44.00      0      0   27.7208        C    B
64          0       1    male    NaN      0      0   27.7208        C  NaN
295         0       1    male    NaN      0      0   27.7208        C  NaN
452         0       1    male  30.00      0      0   27.7500        C    C
331         0       1    male  45.50      0      0   28.5000        S    C
177         0       1  female  50.00      0      0   28.7125        C    C
273         0       1    male  37.00      0      1   29.7000        C    C
487         0       1    male  58.00      0      0   29.7000        C    B
839         1       1    male    NaN      0      0   29.7000        C    C
887         1       1  female  19.00      0      0   30.0000        S    B
889         1       1    male  26.00      0      0   30.0000        C    C
782         0       1    male  29.00      0      0   30.0000        S    D
630         1       1    male  80.00      0      0   30.0000        S    A
740         1       1    male    NaN      0      0   30.0000        S    D
607         1       1    male  27.00      0      0   30.5000        S  NaN
632         1       1    male  32.00      0      0   30.5000        C    B
449         1       1    male  52.00      0      0   30.5000        S    C
492         0       1    male  55.00      0      0   30.5000        S    C
298         1       1    male    NaN      0      0   30.5000        S    C
174         0       1    male  56.00      0      0   30.6958        C    A
793         0       1    male    NaN      0      0   30.6958        C  NaN
842         1       1  female  30.00      0      0   31.0000        C  NaN
209         1       1    male  40.00      0      0   31.0000        C    A
270         0       1    male    NaN      0      0   31.0000        S  NaN
625         0       1    male  61.00      0      0   32.3208        S    D
170         0       1    male  61.00      0      0   33.5000        S    B
515         0       1    male  47.00      0      0   34.0208        S    D
96          0       1    male  71.00      0      0   34.6542        C    A
351         0       1    male    NaN      0      0   35.0000        S    C
23          1       1    male  28.00      0      0   35.5000        S    A
339         0       1    male  45.00      0      0   35.5000        S  NaN
647         1       1    male  56.00      0      0   35.5000        C    A
55          1       1    male    NaN      0      0   35.5000        S    C
462         0       1    male  47.00      0      0   38.5000        S    E
853         1       1  female  16.00      0      1   39.4000        S    D
556         1       1  female  48.00      1      0   39.6000        C    A
766         0       1    male    NaN      0      0   39.6000        C  NaN
583         0       1    male  36.00      0      0   40.1250        C    A
602         0       1    male    NaN      0      0   42.4000        S  NaN
83          0       1    male  28.00      0      0   47.1000        S  NaN
539         1       1  female  22.00      0      2   49.5000        C    B
710         1       1  female  24.00      0      0   49.5042        C    C
493         0       1    male  71.00      0      0   49.5042        C  NaN
185         0       1    male    NaN      0      0   50.0000        S    A
867         0       1    male  31.00      0      0   50.4958        S    A
571         1       1  female  53.00      2      0   51.4792        S    C
6           0       1    male  54.00      0      0   51.8625        S    E
457         1       1  female    NaN      1      0   51.8625        S    D
671         0       1    male  31.00      1      0   52.0000        S    B
383         1       1  female  35.00      1      0   52.0000        S  NaN
35          0       1    male  42.00      1      0   52.0000        S  NaN
110         0       1    male  47.00      0      0   52.0000        S    C
712         1       1    male  48.00      1      0   52.0000        S    C
475         0       1    male    NaN      0      0   52.0000        S    A
669         1       1  female    NaN      1      0   52.0000        S    C
248         1       1    male  37.00      1      1   52.5542        S    D
621         1       1    male  42.00      1      0   52.5542        S    D
871         1       1  female  47.00      1      1   52.5542        S    D
748         0       1    male  19.00      1      0   53.1000        S    D
724         1       1    male  27.00      1      0   53.1000        S    E
809         1       1  female  33.00      1      0   53.1000        S    E
3           1       1  female  35.00      1      0   53.1000        S    C
137         0       1    male  37.00      1      0   53.1000        S    C
356         1       1  female  22.00      0      1   55.0000        S    E
166         1       1  female    NaN      0      1   55.0000        S    E
370         1       1    male  25.00      1      0   55.4417        C    E
577         1       1  female  39.00      1      0   55.9000        S    E
434         0       1    male  50.00      1      0   55.9000        S    E
309         1       1  female  30.00      0      0   56.9292        C    E
599         1       1    male  49.00      1      0   56.9292        C    A
781         1       1  female  17.00      1      0   57.0000        S    B
690         1       1    male  31.00      1      0   57.0000        S    B
329         1       1  female  16.00      0      1   57.9792        C    B
523         1       1  female  44.00      0      1   57.9792        C    B
513         1       1  female  54.00      1      0   59.4000        C  NaN
92          0       1    male  46.00      1      0   61.1750        S    E
155         0       1    male  51.00      0      1   61.3792        C  NaN
54          0       1    male  65.00      0      1   61.9792        C    B
97          1       1    male  23.00      0      1   63.3583        C    D
151         1       1  female  22.00      1      0   66.6000        S    C
336         0       1    male  29.00      1      0   66.6000        S    C
369         1       1  female  24.00      0      0   69.3000        C    B
641         1       1  female  24.00      0      0   69.3000        C    B
540         1       1  female  36.00      0      2   71.0000        S    B
745         0       1    male  70.00      1      1   71.0000        S    B
1           1       1  female  38.00      1      0   71.2833        C    C
366         1       1  female  60.00      1      0   75.2500        C    D
218         1       1  female  32.00      0      0   76.2917        C    D
681         1       1    male  27.00      0      0   76.7292        C    D
645         1       1    male  48.00      1      0   76.7292        C    D
52          1       1  female  49.00      1      0   76.7292        C    D
102         0       1    male  21.00      0      1   77.2875        S    D
124         0       1    male  54.00      0      1   77.2875        S    D
627         1       1  female  21.00      0      0   77.9583        S    D
765         1       1  female  51.00      1      0   77.9583        S    D
275         1       1  female  63.00      1      0   77.9583        S    D
591         1       1  female  52.00      1      0   78.2667        C    D
496         1       1  female  54.00      1      0   78.2667        C    D
290         1       1  female  26.00      0      0   78.8500        S  NaN
741         0       1    male  36.00      1      0   78.8500        S    C
139         0       1    male  24.00      0      0   79.2000        C    B
789         0       1    male  46.00      0      0   79.2000        C    B
587         1       1    male  60.00      1      1   79.2000        C    B
256         1       1  female    NaN      0      0   79.2000        C  NaN
585         1       1  female  18.00      0      2   79.6500        S    E
558         1       1  female  39.00      1      1   79.6500        S    E
262         0       1    male  52.00      1      1   79.6500        S    E
61          1       1  female  38.00      0      0   80.0000      NaN    B
829         1       1  female  62.00      0      0   80.0000      NaN    B
445         1       1    male   4.00      0      2   81.8583        S    A
34          0       1    male  28.00      1      0   82.1708        C  NaN
375         1       1  female    NaN      1      0   82.1708        C  NaN
310         1       1  female  24.00      0      0   83.1583        C    C
835         1       1  female  39.00      1      1   83.1583        C    E
879         1       1  female  56.00      0      1   83.1583        C    C
230         1       1  female  35.00      1      0   83.4750        S    C
62          0       1    male  45.00      1      0   83.4750        S    C
504         1       1  female  16.00      0      0   86.5000        S    B
257         1       1  female  30.00      0      0   86.5000        S    B
759         1       1  female  33.00      0      0   86.5000        S    B
453         1       1    male  49.00      1      0   89.1042        C    C
849         1       1  female    NaN      1      0   89.1042        C    C
412         1       1  female  33.00      1      0   90.0000        Q    C
486         1       1  female  35.00      1      0   90.0000        S    C
224         1       1    male  38.00      1      0   90.0000        S    C
245         0       1    male  44.00      2      0   90.0000        Q    C
291         1       1  female  19.00      1      0   91.0792        C    B
484         1       1    male  25.00      1      0   91.0792        C    B
520         1       1  female  30.00      0      0   93.5000        S    B
820         1       1  female  52.00      1      1   93.5000        S    B
537         1       1  female  30.00      0      0  106.4250        C  NaN
544         0       1    male  50.00      1      0  106.4250        C    C
307         1       1  female  17.00      1      0  108.9000        C    C
505         0       1    male  18.00      1      0  108.9000        C    C
550         1       1    male  17.00      0      2  110.8833        C    C
581         1       1  female  39.00      1      1  110.8833        C    C
698         0       1    male  49.00      1      1  110.8833        C    C
306         1       1  female    NaN      0      0  110.8833        C  NaN
393         1       1  female  23.00      1      0  113.2750        C    D
215         1       1  female  31.00      1      0  113.2750        C    D
659         0       1    male  58.00      0      2  113.2750        C    D
802         1       1    male  11.00      1      2  120.0000        S    B
435         1       1  female  14.00      1      2  120.0000        S    B
390         1       1    male  36.00      1      2  120.0000        S    B
763         1       1  female  36.00      1      2  120.0000        S    B
660         1       1    male  50.00      2      0  133.6500        S  NaN
334         1       1  female    NaN      1      0  133.6500        S  NaN
319         1       1  female  40.00      1      1  134.5000        C    E
337         1       1  female  41.00      0      0  134.5000        C    E
373         0       1    male  22.00      0      0  135.6333        C  NaN
269         1       1  female  35.00      0      0  135.6333        S    C
325         1       1  female  36.00      0      0  135.6333        C    C
195         1       1  female  58.00      0      0  146.5208        C    B
31          1       1  female    NaN      1      0  146.5208        C    B
305         1       1    male   0.92      1      2  151.5500        S    C
297         0       1  female   2.00      1      2  151.5500        S    C
708         1       1  female  22.00      0      0  151.5500        S  NaN
498         0       1  female  25.00      1      2  151.5500        S    C
332         0       1    male  38.00      0      1  153.4625        S    C
609         1       1  female  40.00      0      0  153.4625        S    C
268         1       1  female  58.00      0      1  153.4625        S    C
318         1       1  female  31.00      0      2  164.8667        S    C
856         1       1  female  45.00      1      1  164.8667        S  NaN
689         1       1  female  15.00      0      1  211.3375        S    B
730         1       1  female  29.00      0      0  211.3375        S    B
779         1       1  female  43.00      0      1  211.3375        S    B
377         0       1    male  27.00      0      2  211.5000        C    C
527         0       1    male    NaN      0      0  221.7792        S    C
700         1       1  female  18.00      1      0  227.5250        C    C
716         1       1  female  38.00      0      0  227.5250        C    C
380         1       1  female  42.00      0      0  227.5250        C  NaN
557         0       1    male    NaN      0      0  227.5250        C  NaN
118         0       1    male  24.00      0      1  247.5208        C    B
299         1       1  female  50.00      0      1  247.5208        C    B
311         1       1  female  18.00      2      2  262.3750        C    B
742         1       1  female  21.00      2      2  262.3750        C    B
27          0       1    male  19.00      3      2  263.0000        S    C
88          1       1  female  23.00      3      2  263.0000        S    C
341         1       1  female  24.00      3      2  263.0000        S    C
438         0       1    male  64.00      1      4  263.0000        S    C
258         1       1  female  35.00      0      0  512.3292        C  NaN
737         1       1    male  35.00      0      0  512.3292        C    B
679         1       1    male  36.00      0      1  512.3292        C    B
277         0       2    male    NaN      0      0    0.0000        S  NaN
413         0       2    male    NaN      0      0    0.0000        S  NaN
466         0       2    male    NaN      0      0    0.0000        S  NaN
481         0       2    male    NaN      0      0    0.0000        S  NaN
674         0       2    male    NaN      0      0    0.0000        S  NaN
732         0       2    male    NaN      0      0    0.0000        S  NaN
841         0       2    male  16.00      0      0   10.5000        S  NaN
84          1       2  female  17.00      0      0   10.5000        S  NaN
226         1       2    male  19.00      0      0   10.5000        S  NaN
238         0       2    male  19.00      0      0   10.5000        S  NaN
56          1       2  female  21.00      0      0   10.5000        S  NaN
398         0       2    male  23.00      0      0   10.5000        S  NaN
234         0       2    male  24.00      0      0   10.5000        S  NaN
619         0       2    male  26.00      0      0   10.5000        S  NaN
717         1       2  female  27.00      0      0   10.5000        S    E
883         0       2    male  28.00      0      0   10.5000        S  NaN
66          1       2  female  29.00      0      0   10.5000        S    F
242         0       2    male  29.00      0      0   10.5000        S  NaN
219         0       2    male  30.00      0      0   10.5000        S  NaN
439         0       2    male  31.00      0      0   10.5000        S  NaN
70          0       2    male  32.00      0      0   10.5000        S  NaN
516         1       2  female  34.00      0      0   10.5000        S    F
812         0       2    male  35.00      0      0   10.5000        S  NaN
265         0       2    male  36.00      0      0   10.5000        S  NaN
458         1       2  female  50.00      0      0   10.5000        S  NaN
526         1       2  female  50.00      0      0   10.5000        S  NaN
772         0       2  female  57.00      0      0   10.5000        S    E
570         1       2    male  62.00      0      0   10.5000        S  NaN
33          0       2    male  66.00      0      0   10.5000        S  NaN
672         0       2    male  70.00      0      0   10.5000        S  NaN
144         0       2    male  18.00      0      0   11.5000        S  NaN
757         0       2    male  18.00      0      0   11.5000        S  NaN
861         0       2    male  21.00      1      0   11.5000        S  NaN
529         0       2    male  23.00      2      1   11.5000        S  NaN
389         1       2  female  17.00      0      0   12.0000        C  NaN
239         0       2    male  33.00      0      0   12.2750        S  NaN
322         1       2  female  30.00      0      0   12.3500        Q  NaN
626         0       2    male  57.00      0      0   12.3500        Q  NaN
303         1       2  female    NaN      0      0   12.3500        Q    E
150         0       2    male  51.00      0      0   12.5250        S  NaN
399         1       2  female  28.00      0      0   12.6500        S  NaN
292         0       2    male  36.00      0      0   12.8750        C    D
228         0       2    male  18.00      0      0   13.0000        S  NaN
417         1       2  female  18.00      0      2   13.0000        S  NaN
191         0       2    male  19.00      0      0   13.0000        S  NaN
658         0       2    male  23.00      0      0   13.0000        S  NaN
733         0       2    male  23.00      0      0   13.0000        S  NaN
734         0       2    male  23.00      0      0   13.0000        S  NaN
199         0       2  female  24.00      0      0   13.0000        S  NaN

In [7]:
(t.sort_values(by=['survived','pclass'],ascending=[True,True])).reset_index(drop=True)
#Sorting dataframe and reseting index ot convert to new dataframe.

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
0           0       1    male  54.00      0      0   51.8625        S    E
1           0       1    male  19.00      3      2  263.0000        S    C
2           0       1    male  40.00      0      0   27.7208        C  NaN
3           0       1    male  28.00      1      0   82.1708        C  NaN
4           0       1    male  42.00      1      0   52.0000        S  NaN
5           0       1    male  65.00      0      1   61.9792        C    B
6           0       1    male  45.00      1      0   83.4750        S    C
7           0       1    male    NaN      0      0   27.7208        C  NaN
8           0       1    male  28.00      0      0   47.1000        S  NaN
9           0       1    male  46.00      1      0   61.1750        S    E
10          0       1    male  71.00      0      0   34.6542        C    A
11          0       1    male  21.00      0      1   77.2875        S    D
12          0       1    male  47.00      0      0   52.0000        S    C
13          0       1    male  24.00      0      1  247.5208        C    B
14          0       1    male  54.00      0      1   77.2875        S    D
15          0       1    male  37.00      1      0   53.1000        S    C
16          0       1    male  24.00      0      0   79.2000        C    B
17          0       1    male  51.00      0      1   61.3792        C  NaN
18          0       1    male    NaN      0      0   25.9250        S  NaN
19          0       1    male  61.00      0      0   33.5000        S    B
20          0       1    male  56.00      0      0   30.6958        C    A
21          0       1  female  50.00      0      0   28.7125        C    C
22          0       1    male    NaN      0      0   50.0000        S    A
23          0       1    male  44.00      2      0   90.0000        Q    C
24          0       1    male  62.00      0      0   26.5500        S    C
25          0       1    male  52.00      1      1   79.6500        S    E
26          0       1    male  40.00      0      0    0.0000        S    B
27          0       1    male    NaN      0      0   31.0000        S  NaN
28          0       1    male  37.00      0      1   29.7000        C    C
29          0       1    male    NaN      0      0   26.0000        S    A
30          0       1    male    NaN      0      0   27.7208        C  NaN
31          0       1  female   2.00      1      2  151.5500        S    C
32          0       1    male  45.50      0      0   28.5000        S    C
33          0       1    male  38.00      0      1  153.4625        S    C
34          0       1    male  29.00      1      0   66.6000        S    C
35          0       1    male  45.00      0      0   35.5000        S  NaN
36          0       1    male    NaN      0      0   35.0000        S    C
37          0       1    male  22.00      0      0  135.6333        C  NaN
38          0       1    male  27.00      0      2  211.5000        C    C
39          0       1    male  50.00      1      0   55.9000        S    E
40          0       1    male  64.00      1      4  263.0000        S    C
41          0       1    male  30.00      0      0   27.7500        C    C
42          0       1    male  65.00      0      0   26.5500        S    E
43          0       1    male  47.00      0      0   38.5000        S    E
44          0       1    male  56.00      0      0   26.5500        S  NaN
45          0       1    male    NaN      0      0   52.0000        S    A
46          0       1    male  58.00      0      0   29.7000        C    B
47          0       1    male  55.00      0      0   30.5000        S    C
48          0       1    male  71.00      0      0   49.5042        C  NaN
49          0       1  female  25.00      1      2  151.5500        S    C
50          0       1    male  18.00      1      0  108.9000        C    C
51          0       1    male  47.00      0      0   34.0208        S    D
52          0       1    male    NaN      0      0  221.7792        S    C
53          0       1    male  45.00      0      0   26.5500        S    B
54          0       1    male  50.00      1      0  106.4250        C    C
55          0       1    male  64.00      0      0   26.0000        S  NaN
56          0       1    male  62.00      0      0   26.5500        S  NaN
57          0       1    male    NaN      0      0  227.5250        C  NaN
58          0       1    male  36.00      0      0   40.1250        C    A
59          0       1    male    NaN      0      0   42.4000        S  NaN
60          0       1    male  61.00      0      0   32.3208        S    D
61          0       1    male    NaN      0      0    0.0000        S  NaN
62          0       1    male  58.00      0      2  113.2750        C    D
63          0       1    male  47.00      0      0   25.5875        S    E
64          0       1    male  31.00      1      0   52.0000        S    B
65          0       1    male  60.00      0      0   26.5500        S  NaN
66          0       1    male  49.00      1      1  110.8833        C    C
67          0       1    male    NaN      0      0   26.5500        S    C
68          0       1    male  36.00      1      0   78.8500        S    C
69          0       1    male  70.00      1      1   71.0000        S    B
70          0       1    male  19.00      1      0   53.1000        S    D
71          0       1    male    NaN      0      0   39.6000        C  NaN
72          0       1    male  29.00      0      0   30.0000        S    D
73          0       1    male  46.00      0      0   79.2000        C    B
74          0       1    male    NaN      0      0   30.6958        C  NaN
75          0       1    male  39.00      0      0    0.0000        S    A
76          0       1    male    NaN      0      0    0.0000        S    B
77          0       1    male  38.00      0      0    0.0000        S  NaN
78          0       1    male  31.00      0      0   50.4958        S    A
79          0       1    male  33.00      0      0    5.0000        S    B
80          0       2    male  35.00      0      0   26.0000        S  NaN
81          0       2    male  66.00      0      0   10.5000        S  NaN
82          0       2  female  27.00      1      0   21.0000        S  NaN
83          0       2    male  32.00      0      0   10.5000        S  NaN
84          0       2    male  21.00      0      0   73.5000        S  NaN
85          0       2    male  34.00      1      0   26.0000        S  NaN
86          0       2    male  29.00      1      0   21.0000        S  NaN
87          0       2    male  21.00      2      0   73.5000        S  NaN
88          0       2    male  32.50      1      0   30.0708        C  NaN
89          0       2    male  25.00      0      0   13.0000        S  NaN
90          0       2    male  23.00      0      0   15.0458        C  NaN
91          0       2    male  18.00      0      0   11.5000        S  NaN
92          0       2    male  19.00      1      1   36.7500        S  NaN
93          0       2    male  36.50      0      2   26.0000        S    F
94          0       2    male  42.00      0      0   13.0000        S  NaN
95          0       2    male  51.00      0      0   12.5250        S  NaN
96          0       2    male  30.00      0      0   13.0000        S  NaN
97          0       2    male    NaN      0      0   15.0500        C  NaN
98          0       2    male  19.00      0      0   13.0000        S  NaN
99          0       2  female  24.00      0      0   13.0000        S  NaN
100         0       2    male  30.00      0      0   13.0000        S  NaN
101         0       2    male  42.00      1      0   27.0000        S  NaN
102         0       2    male  30.00      0      0   10.5000        S  NaN
103         0       2    male  27.00      0      0   13.0000        S  NaN
104         0       2    male  18.00      0      0   13.0000        S  NaN
105         0       2    male  59.00      0      0   13.5000        S  NaN
106         0       2    male  24.00      0      0   10.5000        S  NaN
107         0       2    male  44.00      1      0   26.0000        S  NaN
108         0       2    male  19.00      0      0   10.5000        S  NaN
109         0       2    male  33.00      0      0   12.2750        S  NaN
110         0       2    male  29.00      0      0   10.5000        S  NaN
111         0       2    male  54.00      1      0   26.0000        S  NaN
112         0       2    male  36.00      0      0   10.5000        S  NaN
113         0       2    male    NaN      0      0    0.0000        S  NaN
114         0       2    male  36.00      0      0   12.8750        C    D
115         0       2    male  30.00      1      0   24.0000        C  NaN
116         0       2  female  26.00      1      1   26.0000        S  NaN
117         0       2    male  43.00      1      1   26.2500        S  NaN
118         0       2    male  54.00      0      0   14.0000        S  NaN
119         0       2    male  28.00      0      0   13.0000        S  NaN
120         0       2    male  25.00      0      0   13.0000        S  NaN
121         0       2    male  36.00      0      0   13.0000        S  NaN
122         0       2  female  38.00      0      0   13.0000        S  NaN
123         0       2    male  29.00      1      0   27.7208        C  NaN
124         0       2    male  18.00      0      0   73.5000        S  NaN
125         0       2    male  46.00      0      0   26.0000        S  NaN
126         0       2    male  23.00      0      0   10.5000        S  NaN
127         0       2    male  34.00      1      0   21.0000        S  NaN
128         0       2    male    NaN      0      0    0.0000        S  NaN
129         0       2    male  30.00      0      0   13.0000        S  NaN
130         0       2    male  31.00      0      0   10.5000        S  NaN
131         0       2    male  36.00      1      2   27.7500        S  NaN
132         0       2    male  48.00      0      0   13.0000        S  NaN
133         0       2    male    NaN      0      0    0.0000        S  NaN
134         0       2    male  34.00      1      0   21.0000        S  NaN
135         0       2    male    NaN      0      0    0.0000        S  NaN
136         0       2    male  23.00      2      1   11.5000        S  NaN
137         0       2    male  27.00      0      0   26.0000        S  NaN
138         0       2    male  28.00      0      0   13.5000        S  NaN
139         0       2    male  54.00      0      0   26.0000        S  NaN
140         0       2    male  47.00      0      0   15.0000        S  NaN
141         0       2    male  37.00      1      0   26.0000        S  NaN
142         0       2    male  26.00      0      0   10.5000        S  NaN
143         0       2    male  57.00      0      0   12.3500        Q  NaN
144         0       2    male  31.00      1      1   26.2500        S  NaN
145         0       2    male  24.00      2      0   73.5000        S  NaN
146         0       2    male  23.00      0      0   13.0000        S  NaN
147         0       2    male  32.00      2      0   73.5000        S  NaN
148         0       2    male  25.00      0      0   13.0000        S  NaN
149         0       2    male  70.00      0      0   10.5000        S  NaN
150         0       2    male    NaN      0      0    0.0000        S  NaN
151         0       2    male  60.00      1      1   39.0000        S  NaN
152         0       2    male  25.00      1      2   41.5792        C  NaN
153         0       2    male  52.00      0      0   13.5000        S  NaN
154         0       2    male  39.00      0      0   26.0000        S  NaN
155         0       2    male  52.00      0      0   13.0000        S  NaN
156         0       2    male  34.00      0      0   13.0000        S  NaN
157         0       2    male  50.00      0      0   13.0000        S  NaN
158         0       2    male  25.00      1      0   26.0000        S  NaN
159         0       2    male    NaN      0      0    0.0000        S  NaN
160         0       2    male  23.00      0      0   13.0000        S  NaN
161         0       2    male  23.00      0      0   13.0000        S  NaN
162         0       2    male  18.00      0      0   11.5000        S  NaN
163         0       2  female  57.00      0      0   10.5000        S    E
164         0       2    male  16.00      0      0   26.0000        S  NaN
165         0       2    male  39.00      0      0   13.0000        S  NaN
166         0       2    male  34.00      0      0   13.0000        S  NaN
167         0       2    male  39.00      0      0   13.0000        S  NaN
168         0       2    male  35.00      0      0   10.5000        S  NaN
169         0       2    male  31.00      1      1   37.0042        C  NaN
170         0       2    male  16.00      0      0   10.5000        S  NaN
171         0       2    male  28.00      0      1   33.0000        S  NaN
172         0       2  female  44.00      1      0   26.0000        S  NaN
173         0       2    male  21.00      1      0   11.5000        S  NaN
174         0       2    male  24.00      0      0   13.0000        S  NaN
175         0       2    male  28.00      0      0   10.5000        S  NaN
176         0       2    male  27.00      0      0   13.0000        S  NaN
177         0       3    male  22.00      1      0    7.2500        S  NaN
178         0       3    male  35.00      0      0    8.0500        S  NaN
179         0       3    male    NaN      0      0    8.4583        Q  NaN
180         0       3    male   2.00      3      1   21.0750        S  NaN
181         0       3    male  20.00      0      0    8.0500        S  NaN
182         0       3    male  39.00      1      5   31.2750        S  NaN
183         0       3  female  14.00      0      0    7.8542        S  NaN
184         0       3    male   2.00      4      1   29.1250        Q  NaN
185         0       3  female  31.00      1      0   18.0000        S  NaN
186         0       3  female   8.00      3      1   21.0750        S  NaN
187         0       3    male    NaN      0      0    7.2250        C  NaN
188         0       3    male    NaN      0      0    7.8958        S  NaN
189         0       3    male  21.00      0      0    8.0500        S  NaN
190         0       3  female  18.00      2      0   18.0000        S  NaN
191         0       3  female  40.00      1      0    9.4750        S  NaN
192         0       3    male    NaN      0      0    7.8958        C  NaN
193         0       3    male    NaN      0      0    8.0500        S  NaN
194         0       3    male    NaN      1      0   15.5000        Q  NaN
195         0       3    male    NaN      2      0   21.6792        C  NaN
196         0       3  female  18.00      1      0   17.8000        S  NaN
197         0       3    male   7.00      4      1   39.6875        S  NaN
198         0       3    male  21.00      0      0    7.8000        S  NaN
199         0       3    male  28.50      0      0    7.2292        C  NaN
200         0       3    male  11.00      5      2   46.9000        S  NaN
201         0       3    male  22.00      0      0    7.2292        C  NaN
202         0       3    male   4.00      3      2   27.9000        S  NaN
203         0       3    male  19.00      0      0    8.1583        S  NaN
204         0       3    male  26.00      2      0    8.6625        S  NaN
205         0       3  female  16.00      5      2   46.9000        S  NaN
206         0       3    male  26.00      1      0   14.4542        C  NaN
207         0       3    male  25.00      0      0    7.6500        S    F
208         0       3    male    NaN      0      0    7.8958        S  NaN
209         0       3    male    NaN      0      0    8.0500        S  NaN
210         0       3    male  22.00      0      0    9.0000        S  NaN
211         0       3    male  16.00      1      3   34.3750        S  NaN
212         0       3    male    NaN      0      0    8.0500        S  NaN
213         0       3    male  24.00      0      0    8.0500        S  NaN
214         0       3    male  29.00      0      0    8.0500        S  NaN
215         0       3    male  20.00      0      0    7.8542        S  NaN
216         0       3    male  26.00      1      2   20.5750        S  NaN
217         0       3    male  59.00      0      0    7.2500        S  NaN
218         0       3    male    NaN      0      0    8.0500        S  NaN
219         0       3  female  28.00      0      0    7.8958        S  NaN
220         0       3    male    NaN      0      0    7.8958        S  NaN
221         0       3    male  33.00      0      0    8.6542        S  NaN
222         0       3    male  37.00      2      0    7.9250        S  NaN
223         0       3    male  28.00      0      0    7.8958        S  NaN
224         0       3    male  38.00      0      0    7.8958        S  NaN
225         0       3  female  14.50      1      0   14.4542        C  NaN
226         0       3    male  22.00      0      0    8.0500        S  NaN
227         0       3  female  20.00      1      0    9.8250        S  NaN
228         0       3  female  17.00      0      0   14.4583        C  NaN
229         0       3    male  21.00      0      0    7.9250        S  NaN
230         0       3    male  70.50      0      0    7.7500        Q  NaN
231         0       3  female   2.00      4      2   31.2750        S  NaN
232         0       3    male    NaN      0      0    8.0500        S  NaN
233         0       3    male    NaN      0      0    7.7500        Q  NaN
234         0       3    male  45.00      0      0    6.9750        S  NaN
235         0       3    male  33.00      0      0    7.8958        C  NaN
236         0       3    male  20.00      0      0    7.0500        S  NaN
237         0       3  female  47.00      1      0   14.5000        S  NaN
238         0       3    male  16.00      0      0    9.2167        S  NaN
239         0       3  female    NaN      0      2   15.2458        C  NaN
240         0       3    male  19.00      0      0    6.7500        Q  NaN
241         0       3  female   9.00      2      2   34.3750        S  NaN
242         0       3    male  55.50      0      0    8.0500        S  NaN
243         0       3    male  40.50      0      2   14.5000        S  NaN
244         0       3    male    NaN      0      0    7.3125        S  NaN
245         0       3    male  30.00      0      0    8.0500        S  NaN
246         0       3    male    NaN      0      0    8.6625        S  NaN
247         0       3    male    NaN      8      2   69.5500        S  NaN
248         0       3    male  44.00      0      1   16.1000        S  NaN
249         0       3    male  26.00      0      0    7.7750        S  NaN
250         0       3    male  17.00      0      0    8.6625        S  NaN
251         0       3    male   1.00      4      1   39.6875        S  NaN
252         0       3  female  45.00      1      4   27.9000        S  NaN
253         0       3    male  28.00      0      0   56.4958        S  NaN
254         0       3    male   4.00      4      1   29.1250        Q  NaN
255         0       3    male  21.00      0      0    7.9250        S  NaN
256         0       3    male  18.00      1      1    7.8542        S  NaN
257         0       3    male    NaN      3      1   25.4667        S  NaN
258         0       3    male  36.00      0      0    0.0000        S  NaN
259         0       3  female    NaN      8      2   69.5500        S  NaN
260         0       3    male   9.00      4      2   31.3875        S  NaN
261         0       3    male  40.00      1      1   15.5000        Q  NaN
262         0       3    male  36.00      0      0    7.8958        S  NaN
263         0       3    male    NaN      0      0    7.7500        Q  NaN
264         0       3    male  42.00      0      1    8.4042        S  NaN

In [8]:
t.sort_index(ascending=False,inplace=False)#SOrting based on index

     survived  pclass     sex    age  sibsp  parch      fare embarked deck
890         0       3    male  32.00      0      0    7.7500        Q  NaN
889         1       1    male  26.00      0      0   30.0000        C    C
888         0       3  female    NaN      1      2   23.4500        S  NaN
887         1       1  female  19.00      0      0   30.0000        S    B
886         0       2    male  27.00      0      0   13.0000        S  NaN
885         0       3  female  39.00      0      5   29.1250        Q  NaN
884         0       3    male  25.00      0      0    7.0500        S  NaN
883         0       2    male  28.00      0      0   10.5000        S  NaN
882         0       3  female  22.00      0      0   10.5167        S  NaN
881         0       3    male  33.00      0      0    7.8958        S  NaN
880         1       2  female  25.00      0      1   26.0000        S  NaN
879         1       1  female  56.00      0      1   83.1583        C    C
878         0       3    male    NaN      0      0    7.8958        S  NaN
877         0       3    male  19.00      0      0    7.8958        S  NaN
876         0       3    male  20.00      0      0    9.8458        S  NaN
875         1       3  female  15.00      0      0    7.2250        C  NaN
874         1       2  female  28.00      1      0   24.0000        C  NaN
873         0       3    male  47.00      0      0    9.0000        S  NaN
872         0       1    male  33.00      0      0    5.0000        S    B
871         1       1  female  47.00      1      1   52.5542        S    D
870         0       3    male  26.00      0      0    7.8958        S  NaN
869         1       3    male   4.00      1      1   11.1333        S  NaN
868         0       3    male    NaN      0      0    9.5000        S  NaN
867         0       1    male  31.00      0      0   50.4958        S    A
866         1       2  female  27.00      1      0   13.8583        C  NaN
865         1       2  female  42.00      0      0   13.0000        S  NaN
864         0       2    male  24.00      0      0   13.0000        S  NaN
863         0       3  female    NaN      8      2   69.5500        S  NaN
862         1       1  female  48.00      0      0   25.9292        S    D
861         0       2    male  21.00      1      0   11.5000        S  NaN
860         0       3    male  41.00      2      0   14.1083        S  NaN
859         0       3    male    NaN      0      0    7.2292        C  NaN
858         1       3  female  24.00      0      3   19.2583        C  NaN
857         1       1    male  51.00      0      0   26.5500        S    E
856         1       1  female  45.00      1      1  164.8667        S  NaN
855         1       3  female  18.00      0      1    9.3500        S  NaN
854         0       2  female  44.00      1      0   26.0000        S  NaN
853         1       1  female  16.00      0      1   39.4000        S    D
852         0       3  female   9.00      1      1   15.2458        C  NaN
851         0       3    male  74.00      0      0    7.7750        S  NaN
850         0       3    male   4.00      4      2   31.2750        S  NaN
849         1       1  female    NaN      1      0   89.1042        C    C
848         0       2    male  28.00      0      1   33.0000        S  NaN
847         0       3    male  35.00      0      0    7.8958        C  NaN
846         0       3    male    NaN      8      2   69.5500        S  NaN
845         0       3    male  42.00      0      0    7.5500        S  NaN
844         0       3    male  17.00      0      0    8.6625        S  NaN
843         0       3    male  34.50      0      0    6.4375        C  NaN
842         1       1  female  30.00      0      0   31.0000        C  NaN
841         0       2    male  16.00      0      0   10.5000        S  NaN
840         0       3    male  20.00      0      0    7.9250        S  NaN
839         1       1    male    NaN      0      0   29.7000        C    C
838         1       3    male  32.00      0      0   56.4958        S  NaN
837         0       3    male    NaN      0      0    8.0500        S  NaN
836         0       3    male  21.00      0      0    8.6625        S  NaN
835         1       1  female  39.00      1      1   83.1583        C    E
834         0       3    male  18.00      0      0    8.3000        S  NaN
833         0       3    male  23.00      0      0    7.8542        S  NaN
832         0       3    male    NaN      0      0    7.2292        C  NaN
831         1       2    male   0.83      1      1   18.7500        S  NaN
830         1       3  female  15.00      1      0   14.4542        C  NaN
829         1       1  female  62.00      0      0   80.0000      NaN    B
828         1       3    male    NaN      0      0    7.7500        Q  NaN
827         1       2    male   1.00      0      2   37.0042        C  NaN
826         0       3    male    NaN      0      0   56.4958        S  NaN
825         0       3    male    NaN      0      0    6.9500        Q  NaN
824         0       3    male   2.00      4      1   39.6875        S  NaN
823         1       3  female  27.00      0      1   12.4750        S    E
822         0       1    male  38.00      0      0    0.0000        S  NaN
821         1       3    male  27.00      0      0    8.6625        S  NaN
820         1       1  female  52.00      1      1   93.5000        S    B
819         0       3    male  10.00      3      2   27.9000        S  NaN
818         0       3    male  43.00      0      0    6.4500        S  NaN
817         0       2    male  31.00      1      1   37.0042        C  NaN
816         0       3  female  23.00      0      0    7.9250        S  NaN
815         0       1    male    NaN      0      0    0.0000        S    B
814         0       3    male  30.50      0      0    8.0500        S  NaN
813         0       3  female   6.00      4      2   31.2750        S  NaN
812         0       2    male  35.00      0      0   10.5000        S  NaN
811         0       3    male  39.00      0      0   24.1500        S  NaN
810         0       3    male  26.00      0      0    7.8875        S  NaN
809         1       1  female  33.00      1      0   53.1000        S    E
808         0       2    male  39.00      0      0   13.0000        S  NaN
807         0       3  female  18.00      0      0    7.7750        S  NaN
806         0       1    male  39.00      0      0    0.0000        S    A
805         0       3    male  31.00      0      0    7.7750        S  NaN
804         1       3    male  27.00      0      0    6.9750        S  NaN
803         1       3    male   0.42      0      1    8.5167        C  NaN
802         1       1    male  11.00      1      2  120.0000        S    B
801         1       2  female  31.00      1      1   26.2500        S  NaN
800         0       2    male  34.00      0      0   13.0000        S  NaN
799         0       3  female  30.00      1      1   24.1500        S  NaN
798         0       3    male  30.00      0      0    7.2292        C  NaN
797         1       3  female  31.00      0      0    8.6833        S  NaN
796         1       1  female  49.00      0      0   25.9292        S    D
795         0       2    male  39.00      0      0   13.0000        S  NaN
794         0       3    male  25.00      0      0    7.8958        S  NaN
793         0       1    male    NaN      0      0   30.6958        C  NaN
792         0       3  female    NaN      8      2   69.5500        S  NaN
791         0       2    male  16.00      0      0   26.0000        S  NaN
790         0       3    male    NaN      0      0    7.7500        Q  NaN
789         0       1    male  46.00      0      0   79.2000        C    B
788         1       3    male   1.00      1      2   20.5750        S  NaN
787         0       3    male   8.00      4      1   29.1250        Q  NaN
786         1       3  female  18.00      0      0    7.4958        S  NaN
785         0       3    male  25.00      0      0    7.2500        S  NaN
784         0       3    male  25.00      0      0    7.0500        S  NaN
783         0       3    male    NaN      1      2   23.4500        S  NaN
782         0       1    male  29.00      0      0   30.0000        S    D
781         1       1  female  17.00      1      0   57.0000        S    B
780         1       3  female  13.00      0      0    7.2292        C  NaN
779         1       1  female  43.00      0      1  211.3375        S    B
778         0       3    male    NaN      0      0    7.7375        Q  NaN
777         1       3  female   5.00      0      0   12.4750        S  NaN
776         0       3    male    NaN      0      0    7.7500        Q    F
775         0       3    male  18.00      0      0    7.7500        S  NaN
774         1       2  female  54.00      1      3   23.0000        S  NaN
773         0       3    male    NaN      0      0    7.2250        C  NaN
772         0       2  female  57.00      0      0   10.5000        S    E
771         0       3    male  48.00      0      0    7.8542        S  NaN
770         0       3    male  24.00      0      0    9.5000        S  NaN
769         0       3    male  32.00      0      0    8.3625        S  NaN
768         0       3    male    NaN      1      0   24.1500        Q  NaN
767         0       3  female  30.50      0      0    7.7500        Q  NaN
766         0       1    male    NaN      0      0   39.6000        C  NaN
765         1       1  female  51.00      1      0   77.9583        S    D
764         0       3    male  16.00      0      0    7.7750        S  NaN
763         1       1  female  36.00      1      2  120.0000        S    B
762         1       3    male  20.00      0      0    7.2292        C  NaN
761         0       3    male  41.00      0      0    7.1250        S  NaN
760         0       3    male    NaN      0      0   14.5000        S  NaN
759         1       1  female  33.00      0      0   86.5000        S    B
758         0       3    male  34.00      0      0    8.0500        S  NaN
757         0       2    male  18.00      0      0   11.5000        S  NaN
756         0       3    male  28.00      0      0    7.7958        S  NaN
755         1       2    male   0.67      1      1   14.5000        S  NaN
754         1       2  female  48.00      1      2   65.0000        S  NaN
753         0       3    male  23.00      0      0    7.8958        S  NaN
752         0       3    male  33.00      0      0    9.5000        S  NaN
751         1       3    male   6.00      0      1   12.4750        S    E
750         1       2  female   4.00      1      1   23.0000        S  NaN
749         0       3    male  31.00      0      0    7.7500        Q  NaN
748         0       1    male  19.00      1      0   53.1000        S    D
747         1       2  female  30.00      0      0   13.0000        S  NaN
746         0       3    male  16.00      1      1   20.2500        S  NaN
745         0       1    male  70.00      1      1   71.0000        S    B
744         1       3    male  31.00      0      0    7.9250        S  NaN
743         0       3    male  24.00      1      0   16.1000        S  NaN
742         1       1  female  21.00      2      2  262.3750        C    B
741         0       1    male  36.00      1      0   78.8500        S    C
740         1       1    male    NaN      0      0   30.0000        S    D
739         0       3    male    NaN      0      0    7.8958        S  NaN
738         0       3    male    NaN      0      0    7.8958        S  NaN
737         1       1    male  35.00      0      0  512.3292        C    B
736         0       3  female  48.00      1      3   34.3750        S  NaN
735         0       3    male  28.50      0      0   16.1000        S  NaN
734         0       2    male  23.00      0      0   13.0000        S  NaN
733         0       2    male  23.00      0      0   13.0000        S  NaN
732         0       2    male    NaN      0      0    0.0000        S  NaN
731         0       3    male  11.00      0      0   18.7875        C  NaN
730         1       1  female  29.00      0      0  211.3375        S    B
729         0       3  female  25.00      1      0    7.9250        S  NaN
728         0       2    male  25.00      1      0   26.0000        S  NaN
727         1       3  female    NaN      0      0    7.7375        Q  NaN
726         1       2  female  30.00      3      0   21.0000        S  NaN
725         0       3    male  20.00      0      0    8.6625        S  NaN
724         1       1    male  27.00      1      0   53.1000        S    E
723         0       2    male  50.00      0      0   13.0000        S  NaN
722         0       2    male  34.00      0      0   13.0000        S  NaN
721         0       3    male  17.00      1      0    7.0542        S  NaN
720         1       2  female   6.00      0      1   33.0000        S  NaN
719         0       3    male  33.00      0      0    7.7750        S  NaN
718         0       3    male    NaN      0      0   15.5000        Q  NaN
717         1       2  female  27.00      0      0   10.5000        S    E
716         1       1  female  38.00      0      0  227.5250        C    C
715         0       3    male  19.00      0      0    7.6500        S    F
714         0       2    male  52.00      0      0   13.0000        S  NaN
713         0       3    male  29.00      0      0    9.4833        S  NaN
712         1       1    male  48.00      1      0   52.0000        S    C
711         0       1    male    NaN      0      0   26.5500        S    C
710         1       1  female  24.00      0      0   49.5042        C    C
709         1       3    male    NaN      1      1   15.2458        C  NaN
708         1       1  female  22.00      0      0  151.5500        S  NaN
707         1       1    male  42.00      0      0   26.2875        S    E
706         1       2  female  45.00      0      0   13.5000        S  NaN
705         0       2    male  39.00      0      0   26.0000        S  NaN
704         0       3    male  26.00      1      0    7.8542        S  NaN
703         0       3    male  25.00      0      0    7.7417        Q  NaN
702         0       3  female  18.00      0      1   14.4542        C  NaN
701         1       1    male  35.00      0      0   26.2875        S    E
700         1       1  female  18.00      1      0  227.5250        C    C
699         0       3    male  42.00      0      0    7.6500        S    F
698         0       1    male  49.00      1      1  110.8833        C    C
697         1       3  female    NaN      0      0    7.7333        Q  NaN
696         0       3    male  44.00      0      0    8.0500        S  NaN
695         0       2    male  52.00      0      0   13.5000        S  NaN
694         0       1    male  60.00      0      0   26.5500        S  NaN
693         0       3    male  25.00      0      0    7.2250        C  NaN
692         1       3    male    NaN      0      0   56.4958        S  NaN
691         1       3  female   4.00      0      1   13.4167        C  NaN
690         1       1    male  31.00      1      0   57.0000        S    B
689         1       1  female  15.00      0      1  211.3375        S    B
688         0       3    male  18.00      0      0    7.7958        S  NaN
687         0       3    male  19.00      0      0   10.1708        S  NaN
686         0       3    male  14.00      4      1   39.6875        S  NaN
685         0       2    male  25.00      1      2   41.5792        C  NaN
684         0       2    male  60.00      1      1   39.0000        S  NaN
683         0       3    male  14.00      5      2   46.9000        S  NaN
682         0       3    male  20.00      0      0    9.2250        S  NaN
681         1       1    male  27.00      0      0   76.7292        C    D
680         0       3  female    NaN      0      0    8.1375        Q  NaN
679         1       1    male  36.00      0      1  512.3292        C    B
678         0       3  female  43.00      1      6   46.9000        S  NaN
677         1       3  female  18.00      0      0    9.8417        S  NaN
676         0       3    male  24.50      0      0    8.0500        S  NaN
675         0       3    male  18.00      0      0    7.7750        S  NaN
674         0       2    male    NaN      0      0    0.0000        S  NaN
673         1       2    male  31.00      0      0   13.0000        S  NaN
672         0       2    male  70.00      0      0   10.5000        S  NaN
671         0       1    male  31.00      1      0   52.0000        S    B
670         1       2  female  40.00      1      1   39.0000        S  NaN
669         1       1  female    NaN      1      0   52.0000        S    C
668         0       3    male  43.00      0      0    8.0500        S  NaN
667         0       3    male    NaN      0      0    7.7750        S  NaN
666         0       2    male  25.00      0      0   13.0000        S  NaN
665         0       2    male  32.00      2      0   73.5000        S  NaN
664         1       3    male  20.00      1      0    7.9250        S  NaN
663         0       3    male  36.00      0      0    7.4958        S  NaN
662         0       1    male  47.00      0      0   25.5875        S    E
661         0       3    male  40.00      0      0    7.2250        C  NaN
660         1       1    male  50.00      2      0  133.6500        S  NaN
659         0       1    male  58.00      0      2  113.2750        C    D
658         0       2    male  23.00      0      0   13.0000        S  NaN
657         0       3  female  32.00      1      1   15.5000        Q  NaN
656         0       3    male    NaN      0      0    7.8958        S  NaN
655         0       2    male  24.00      2      0   73.5000        S  NaN
654         0       3  female  18.00      0      0    6.7500        Q  NaN
653         1       3  female    NaN      0      0    7.8292        Q  NaN
652         0       3    male  21.00      0      0    8.4333        S  NaN
651         1       2  female  18.00      0      1   23.0000        S  NaN
650         0       3    male    NaN      0      0    7.8958        S  NaN
649         1       3  female  23.00      0      0    7.5500        S  NaN
648         0       3    male    NaN      0      0    7.5500        S  NaN
647         1       1    male  56.00      0      0   35.5000        C    A
646         0       3    male  19.00      0      0    7.8958        S  NaN
645         1       1    male  48.00      1      0   76.7292        C    D
644         1       3  female   0.75      2      1   19.2583        C  NaN
643         1       3    male    NaN      0      0   56.4958        S  NaN
642         0       3  female   2.00      3      2   27.9000        S  NaN
641         1       1  female  24.00      0      0   69.3000        C    B
640         0       3    male  20.00      0      0    7.8542        S  NaN
639         0       3    male    NaN      1      0   16.1000        S  NaN
638         0       3  female  41.00      0      5   39.6875        S  NaN
637         0       2    male  31.00      1      1   26.2500        S  NaN
636         0       3    male  32.00      0      0    7.9250        S  NaN
635         1       2  female  28.00      0      0   13.0000        S  NaN
634         0       3  female   9.00      3      2   27.9000        S  NaN
633         0       1    male    NaN      0      0    0.0000        S  NaN
632         1       1    male  32.00      0      0   30.5000        C    B
631         0       3    male  51.00      0      0    7.0542        S  NaN
630         1       1    male  80.00      0      0   30.0000        S    A
629         0       3    male    NaN      0      0    7.7333        Q  NaN
628         0       3    male  26.00      0      0    7.8958        S  NaN
627         1       1  female  21.00      0      0   77.9583        S    D
626         0       2    male  57.00      0      0   12.3500        Q  NaN

In [9]:
#t.sort_values(by='pclass',ignore_index=True)#New change in Pandas 1.0
#no need to reset index, just use ignore_index=True, resests index from 0-n.

In [10]:
pd.options.display.max_rows=30

In [11]:
t=pd.read_csv('titanic.csv')

In [12]:
#Rank method

In [13]:
s=pd.read_csv('summer.csv')

In [14]:
s.loc[(s.Discipline=='Swimming') & (s.Year>2007)].size

3501

In [15]:
s_01=s.loc[(s.Discipline=='Swimming') & (s.Year>2007)].copy()

In [16]:
s_01.set_index('Athlete',inplace=True).head()

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
x=s_01.index.value_counts().copy()

In [ ]:
s_01.insert(loc=5,column='Medals',value=x)

In [ ]:
s_01.sort_values(by='Medals',ascending=False)

In [17]:
#Ranking players based on Medals
s_01.Medals.sort_values(ascending=False).rank(ascending=False,pct=False,method='min')

AttributeError: 'DataFrame' object has no attribute 'Medals'

In [18]:
#unique, nunique, nlargest, nsmallest

In [19]:
t.unique()#doesn't work for data frame

AttributeError: 'DataFrame' object has no attribute 'unique'

In [ ]:
t.nunique()#Works for data frame- nunique method

In [ ]:
t.nsmallest(n=5,columns='age')

In [20]:
t.nlargest(n=5,columns='fare')

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
258         1       1  female  35.0      0      0  512.3292        C  NaN
679         1       1    male  36.0      0      1  512.3292        C    B
737         1       1    male  35.0      0      0  512.3292        C    B
27          0       1    male  19.0      3      2  263.0000        S    C
88          1       1  female  23.0      3      2  263.0000        S    C

In [21]:
#summary and statistics

In [22]:
t.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [23]:
t.count(axis=0)#Individual methods for describe method
#along columns

survived    891
pclass      891
sex         891
age         714
sibsp       891
parch       891
fare        891
embarked    889
deck        203
dtype: int64

In [24]:
t.count(axis=1).head(10)#Along rows

0    8
1    9
2    8
3    9
4    8
5    7
6    9
7    8
8    8
9    8
dtype: int64

In [25]:
t.mean(axis=0)#Pandas automatically performs only for numeric values

survived     0.383838
pclass       2.308642
age         29.699118
sibsp        0.523008
parch        0.381594
fare        32.204208
dtype: float64

In [26]:
t.sum(axis=0)

survived                                                  342
pclass                                                   2057
sex         malefemalefemalefemalemalemalemalemalefemalefe...
age                                                   21205.2
sibsp                                                     466
parch                                                     340
fare                                                  28693.9
dtype: object

In [27]:
t.age.cumsum().head(7)#CUmulatove sum

0     22.0
1     60.0
2     86.0
3    121.0
4    156.0
5      NaN
6    210.0
Name: age, dtype: float64

In [28]:
t.corr()#correlation

          survived    pclass       age     sibsp     parch      fare
survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
sibsp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [29]:
t.survived.corr(t.pclass)#DOing the same individually

-0.33848103596101453

In [30]:
t.agg(['mean','median','std'])

        survived    pclass        age     sibsp     parch       fare
mean    0.383838  2.308642  29.699118  0.523008  0.381594  32.204208
median  0.000000  3.000000  28.000000  0.000000  0.000000  14.454200
std     0.486592  0.836071  14.526497  1.102743  0.806057  49.693429

In [31]:
t.agg({'age':['mean','median'],'survived':'sum'})
#using dictionary for  aggregate method
#Very helpful to financial data

              age  survived
mean    29.699118       NaN
median  28.000000       NaN
sum           NaN     342.0

In [32]:
#Apply, map and applymap methods

In [33]:
sales=pd.read_csv('sales.csv')

In [34]:
sales.index.name='Name'

In [35]:
sales.set_index('Unnamed: 0',drop=True,inplace=True)

In [36]:
sales.index.name='Name'

In [37]:
sales

        Mon  Tue  Wed   Thu  Fri
Name
Steven   34   27   15   NaN   33
Mike     45    9   74  87.0   12
Andi     17   33   54   8.0   29
Paul     87   67   27  45.0    7

In [38]:
sales.min(axis=0)

Mon    17.0
Tue     9.0
Wed    15.0
Thu     8.0
Fri     7.0
dtype: float64

In [39]:
sales.min(axis=1)#along rows

Name
Steven    15.0
Mike       9.0
Andi       8.0
Paul       7.0
dtype: float64

In [40]:
def Sum_sales(x):
    return x.sum()

In [41]:
Sum_sales(sales)# Creating use defined function

Mon    183.0
Tue    136.0
Wed    170.0
Thu    140.0
Fri     81.0
dtype: float64

In [42]:
sales.apply(Sum_sales,axis=0)

Mon    183.0
Tue    136.0
Wed    170.0
Thu    140.0
Fri     81.0
dtype: float64

In [43]:
sales.apply(lambda x: x*(0.02))
#Sales commision

         Mon   Tue   Wed   Thu   Fri
Name
Steven  0.68  0.54  0.30   NaN  0.66
Mike    0.90  0.18  1.48  1.74  0.24
Andi    0.34  0.66  1.08  0.16  0.58
Paul    1.74  1.34  0.54  0.90  0.14

In [44]:
sales.apply(lambda x:x[0] )#Day 1 sales

Mon    34.0
Tue    27.0
Wed    15.0
Thu     NaN
Fri    33.0
dtype: float64

In [45]:
#Hierarchical Indexing

In [46]:
t.head()

   survived  pclass     sex   age  sibsp  parch     fare embarked deck
0         0       3    male  22.0      1      0   7.2500        S  NaN
1         1       1  female  38.0      1      0  71.2833        C    C
2         1       3  female  26.0      0      0   7.9250        S  NaN
3         1       1  female  35.0      1      0  53.1000        S    C
4         0       3    male  35.0      0      0   8.0500        S  NaN

In [47]:
t.set_index(['pclass','survived'],inplace=True)

In [48]:
t.head()

                    sex   age  sibsp  parch     fare embarked deck
pclass survived
3      0           male  22.0      1      0   7.2500        S  NaN
1      1         female  38.0      1      0  71.2833        C    C
3      1         female  26.0      0      0   7.9250        S  NaN
1      1         female  35.0      1      0  53.1000        S    C
3      0           male  35.0      0      0   8.0500        S  NaN

In [49]:
t.sort_index(inplace=True)

In [50]:
t

                    sex    age  sibsp  parch      fare embarked deck
pclass survived
1      0           male  54.00      0      0   51.8625        S    E
       0           male  19.00      3      2  263.0000        S    C
       0           male  40.00      0      0   27.7208        C  NaN
       0           male  28.00      1      0   82.1708        C  NaN
       0           male  42.00      1      0   52.0000        S  NaN
       0           male  65.00      0      1   61.9792        C    B
       0           male  45.00      1      0   83.4750        S    C
       0           male    NaN      0      0   27.7208        C  NaN
       0           male  28.00      0      0   47.1000        S  NaN
       0           male  46.00      1      0   61.1750        S    E
       0           male  71.00      0      0   34.6542        C    A
       0           male  21.00      0      1   77.2875        S    D
       0           male  47.00      0      0   52.0000        S    C
       0           male  24.00      0      1  247.5208        C    B
       0           male  54.00      0      1   77.2875        S    D
...                 ...    ...    ...    ...       ...      ...  ...
3      1         female  13.00      0      0    7.2292        C  NaN
       1         female  18.00      0      0    7.4958        S  NaN
       1           male   1.00      1      2   20.5750        S  NaN
       1         female  31.00      0      0    8.6833        S  NaN
       1           male   0.42      0      1    8.5167        C  NaN
       1           male  27.00      0      0    6.9750        S  NaN
       1           male  27.00      0      0    8.6625        S  NaN
       1         female  27.00      0      1   12.4750        S    E
       1           male    NaN      0      0    7.7500        Q  NaN
       1         female  15.00      1      0   14.4542        C  NaN
       1           male  32.00      0      0   56.4958        S  NaN
       1         female  18.00      0      1    9.3500        S  NaN
       1         female  24.00      0      3   19.2583        C  NaN
       1           male   4.00      1      1   11.1333        S  NaN
       1         female  15.00      0      0    7.2250        C  NaN

[891 rows x 7 columns]

In [51]:
t.swaplevel()#swapping index

                    sex    age  sibsp  parch      fare embarked deck
survived pclass
0        1         male  54.00      0      0   51.8625        S    E
         1         male  19.00      3      2  263.0000        S    C
         1         male  40.00      0      0   27.7208        C  NaN
         1         male  28.00      1      0   82.1708        C  NaN
         1         male  42.00      1      0   52.0000        S  NaN
         1         male  65.00      0      1   61.9792        C    B
         1         male  45.00      1      0   83.4750        S    C
         1         male    NaN      0      0   27.7208        C  NaN
         1         male  28.00      0      0   47.1000        S  NaN
         1         male  46.00      1      0   61.1750        S    E
         1         male  71.00      0      0   34.6542        C    A
         1         male  21.00      0      1   77.2875        S    D
         1         male  47.00      0      0   52.0000        S    C
         1         male  24.00      0      1  247.5208        C    B
         1         male  54.00      0      1   77.2875        S    D
...                 ...    ...    ...    ...       ...      ...  ...
1        3       female  13.00      0      0    7.2292        C  NaN
         3       female  18.00      0      0    7.4958        S  NaN
         3         male   1.00      1      2   20.5750        S  NaN
         3       female  31.00      0      0    8.6833        S  NaN
         3         male   0.42      0      1    8.5167        C  NaN
         3         male  27.00      0      0    6.9750        S  NaN
         3         male  27.00      0      0    8.6625        S  NaN
         3       female  27.00      0      1   12.4750        S    E
         3         male    NaN      0      0    7.7500        Q  NaN
         3       female  15.00      1      0   14.4542        C  NaN
         3         male  32.00      0      0   56.4958        S  NaN
         3       female  18.00      0      1    9.3500        S  NaN
         3       female  24.00      0      3   19.2583        C  NaN
         3         male   4.00      1      1   11.1333        S  NaN
         3       female  15.00      0      0    7.2250        C  NaN

[891 rows x 7 columns]

In [52]:
t.head()

                  sex   age  sibsp  parch      fare embarked deck
pclass survived
1      0         male  54.0      0      0   51.8625        S    E
       0         male  19.0      3      2  263.0000        S    C
       0         male  40.0      0      0   27.7208        C  NaN
       0         male  28.0      1      0   82.1708        C  NaN
       0         male  42.0      1      0   52.0000        S  NaN

In [53]:
t.loc[(1,1)]#all passegers who have survived in pclass =1

                    sex   age  sibsp  parch      fare embarked deck
pclass survived
1      1         female  38.0      1      0   71.2833        C    C
       1         female  35.0      1      0   53.1000        S    C
       1         female  58.0      0      0   26.5500        S    C
       1           male  28.0      0      0   35.5000        S    A
       1         female   NaN      1      0  146.5208        C    B
       1         female  49.0      1      0   76.7292        C    D
       1           male   NaN      0      0   35.5000        S    C
       1         female  38.0      0      0   80.0000      NaN    B
       1         female  23.0      3      2  263.0000        S    C
       1           male  23.0      0      1   63.3583        C    D
       1         female  19.0      0      2   26.2833        S    D
       1         female  22.0      1      0   66.6000        S    C
       1         female   NaN      0      1   55.0000        S    E
       1           male  45.0      0      0   26.5500        S  NaN
       1         female  44.0      0      0   27.7208        C    B
...                 ...   ...    ...    ...       ...      ...  ...
       1         female  33.0      1      0   53.1000        S    E
       1         female  52.0      1      1   93.5000        S    B
       1         female  62.0      0      0   80.0000      NaN    B
       1         female  39.0      1      1   83.1583        C    E
       1           male   NaN      0      0   29.7000        C    C
       1         female  30.0      0      0   31.0000        C  NaN
       1         female   NaN      1      0   89.1042        C    C
       1         female  16.0      0      1   39.4000        S    D
       1         female  45.0      1      1  164.8667        S  NaN
       1           male  51.0      0      0   26.5500        S    E
       1         female  48.0      0      0   25.9292        S    D
       1         female  47.0      1      1   52.5542        S    D
       1         female  56.0      0      1   83.1583        C    C
       1         female  19.0      0      0   30.0000        S    B
       1           male  26.0      0      0   30.0000        C    C

[136 rows x 7 columns]

In [54]:
len(t.loc[(1,1)])/(len(t.loc[1]))#62% survived in pclass 1

0.6296296296296297

In [55]:
len(t.loc[(3,1)])/(len(t.loc[3]))#24% survived in pclass 3

0.24236252545824846

In [56]:
t.loc[([1,2],0),:]#: for columns need to be added when mutilevel indexing takes place

                    sex   age  sibsp  parch      fare embarked deck
pclass survived
1      0           male  54.0      0      0   51.8625        S    E
       0           male  19.0      3      2  263.0000        S    C
       0           male  40.0      0      0   27.7208        C  NaN
       0           male  28.0      1      0   82.1708        C  NaN
       0           male  42.0      1      0   52.0000        S  NaN
       0           male  65.0      0      1   61.9792        C    B
       0           male  45.0      1      0   83.4750        S    C
       0           male   NaN      0      0   27.7208        C  NaN
       0           male  28.0      0      0   47.1000        S  NaN
       0           male  46.0      1      0   61.1750        S    E
       0           male  71.0      0      0   34.6542        C    A
       0           male  21.0      0      1   77.2875        S    D
       0           male  47.0      0      0   52.0000        S    C
       0           male  24.0      0      1  247.5208        C    B
       0           male  54.0      0      1   77.2875        S    D
...                 ...   ...    ...    ...       ...      ...  ...
2      0           male  18.0      0      0   11.5000        S  NaN
       0         female  57.0      0      0   10.5000        S    E
       0           male  16.0      0      0   26.0000        S  NaN
       0           male  39.0      0      0   13.0000        S  NaN
       0           male  34.0      0      0   13.0000        S  NaN
       0           male  39.0      0      0   13.0000        S  NaN
       0           male  35.0      0      0   10.5000        S  NaN
       0           male  31.0      1      1   37.0042        C  NaN
       0           male  16.0      0      0   10.5000        S  NaN
       0           male  28.0      0      1   33.0000        S  NaN
       0         female  44.0      1      0   26.0000        S  NaN
       0           male  21.0      1      0   11.5000        S  NaN
       0           male  24.0      0      0   13.0000        S  NaN
       0           male  28.0      0      0   10.5000        S  NaN
       0           male  27.0      0      0   13.0000        S  NaN

[177 rows x 7 columns]

In [59]:
t.loc[([1,2],0),'sex']

pclass  survived
1       0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
                     ...
2       0             male
        0           female
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0             male
        0           female
        0             male
        0             male
        0             male
        0             male
Name: sex, Length: 177, dtype: object

In [74]:
t.loc[(:,0),:]#this doesn't wwokr, use slice method instead.

SyntaxError: invalid syntax (<ipython-input-74-e6f565bd0df4>, line 1)

In [79]:
t.loc[(slice(None),slice(0)),:]

                    sex   age  sibsp  parch      fare embarked deck
pclass survived
1      0           male  54.0      0      0   51.8625        S    E
       0           male  19.0      3      2  263.0000        S    C
       0           male  40.0      0      0   27.7208        C  NaN
       0           male  28.0      1      0   82.1708        C  NaN
       0           male  42.0      1      0   52.0000        S  NaN
       0           male  65.0      0      1   61.9792        C    B
       0           male  45.0      1      0   83.4750        S    C
       0           male   NaN      0      0   27.7208        C  NaN
       0           male  28.0      0      0   47.1000        S  NaN
       0           male  46.0      1      0   61.1750        S    E
       0           male  71.0      0      0   34.6542        C    A
       0           male  21.0      0      1   77.2875        S    D
       0           male  47.0      0      0   52.0000        S    C
       0           male  24.0      0      1  247.5208        C    B
       0           male  54.0      0      1   77.2875        S    D
...                 ...   ...    ...    ...       ...      ...  ...
3      0           male   NaN      0      0    7.2292        C  NaN
       0           male  41.0      2      0   14.1083        S  NaN
       0         female   NaN      8      2   69.5500        S  NaN
       0           male   NaN      0      0    9.5000        S  NaN
       0           male  26.0      0      0    7.8958        S  NaN
       0           male  47.0      0      0    9.0000        S  NaN
       0           male  20.0      0      0    9.8458        S  NaN
       0           male  19.0      0      0    7.8958        S  NaN
       0           male   NaN      0      0    7.8958        S  NaN
       0           male  33.0      0      0    7.8958        S  NaN
       0         female  22.0      0      0   10.5167        S  NaN
       0           male  25.0      0      0    7.0500        S  NaN
       0         female  39.0      0      5   29.1250        Q  NaN
       0         female   NaN      1      2   23.4500        S  NaN
       0           male  32.0      0      0    7.7500        Q  NaN

[549 rows x 7 columns]

In [80]:
#Performing Operation on string values of DF or Series

In [83]:
ath=s.Athlete.copy()

In [86]:
ath.str.lower()#Using str. string operation

0                       hajos, alfred
1                    herschmann, otto
2                   drivas, dimitrios
3                  malokinis, ioannis
4                  chasapis, spiridon
5               chorophas, efstathios
6                       hajos, alfred
7                    andreou, joannis
8               chorophas, efstathios
9                       neumann, paul
10                  pepanos, antonios
11                      lane, francis
12                   szokolyi, alajos
13                      burke, thomas
14                     hofmann, fritz
                     ...
31150                  lorincz, tamas
31151                  guenot, steeve
31152             tskhadaia, manuchar
31153                   vlasov, roman
31154              julfalakyan, arsen
31155                   ahmadov, emin
31156            kazakevic, aleksandr
31157                   khugaev, alan
31158    ebrahim, karam mohamed gaber
31159                 gajiyev, danyal
31160              janikowski, damian
31161       rezaei, ghasem gholamreza
31162                  totrov, rustam
31163               aleksanyan, artur
31164                  lidberg, jimmy
Name: Athlete, Length: 31165, dtype: object

In [87]:
ath.str.capitalize()

0                       Hajos, alfred
1                    Herschmann, otto
2                   Drivas, dimitrios
3                  Malokinis, ioannis
4                  Chasapis, spiridon
5               Chorophas, efstathios
6                       Hajos, alfred
7                    Andreou, joannis
8               Chorophas, efstathios
9                       Neumann, paul
10                  Pepanos, antonios
11                      Lane, francis
12                   Szokolyi, alajos
13                      Burke, thomas
14                     Hofmann, fritz
                     ...
31150                  Lorincz, tamas
31151                  Guenot, steeve
31152             Tskhadaia, manuchar
31153                   Vlasov, roman
31154              Julfalakyan, arsen
31155                   Ahmadov, emin
31156            Kazakevic, aleksandr
31157                   Khugaev, alan
31158    Ebrahim, karam mohamed gaber
31159                 Gajiyev, danyal
31160              Janikowski, damian
31161       Rezaei, ghasem gholamreza
31162                  Totrov, rustam
31163               Aleksanyan, artur
31164                  Lidberg, jimmy
Name: Athlete, Length: 31165, dtype: object

In [89]:
s.Event.head()

0                100M Freestyle
1                100M Freestyle
2    100M Freestyle For Sailors
3    100M Freestyle For Sailors
4    100M Freestyle For Sailors
Name: Event, dtype: object

In [90]:
s.Event.str.split()

0                      [100M, Freestyle]
1                      [100M, Freestyle]
2        [100M, Freestyle, For, Sailors]
3        [100M, Freestyle, For, Sailors]
4        [100M, Freestyle, For, Sailors]
5                     [1200M, Freestyle]
6                     [1200M, Freestyle]
7                     [1200M, Freestyle]
8                      [400M, Freestyle]
9                      [400M, Freestyle]
10                     [400M, Freestyle]
11                                [100M]
12                                [100M]
13                                [100M]
14                                [100M]
                      ...
31150                       [Wg, 66, KG]
31151                       [Wg, 66, KG]
31152                       [Wg, 66, KG]
31153                       [Wg, 74, KG]
31154                       [Wg, 74, KG]
31155                       [Wg, 74, KG]
31156                       [Wg, 74, KG]
31157                       [Wg, 84, KG]
31158                       [Wg, 84, KG]
31159                       [Wg, 84, KG]
31160                       [Wg, 84, KG]
31161                       [Wg, 96, KG]
31162                       [Wg, 96, KG]
31163                       [Wg, 96, KG]
31164                       [Wg, 96, KG]
Name: Event, Length: 31165, dtype: object

In [92]:
s.Event.str.split(expand=True)

           0          1     2        3     4     5     6     7     8
0       100M  Freestyle  None     None  None  None  None  None  None
1       100M  Freestyle  None     None  None  None  None  None  None
2       100M  Freestyle   For  Sailors  None  None  None  None  None
3       100M  Freestyle   For  Sailors  None  None  None  None  None
4       100M  Freestyle   For  Sailors  None  None  None  None  None
5      1200M  Freestyle  None     None  None  None  None  None  None
6      1200M  Freestyle  None     None  None  None  None  None  None
7      1200M  Freestyle  None     None  None  None  None  None  None
8       400M  Freestyle  None     None  None  None  None  None  None
9       400M  Freestyle  None     None  None  None  None  None  None
10      400M  Freestyle  None     None  None  None  None  None  None
11      100M       None  None     None  None  None  None  None  None
12      100M       None  None     None  None  None  None  None  None
13      100M       None  None     None  None  None  None  None  None
14      100M       None  None     None  None  None  None  None  None
...      ...        ...   ...      ...   ...   ...   ...   ...   ...
31150     Wg         66    KG     None  None  None  None  None  None
31151     Wg         66    KG     None  None  None  None  None  None
31152     Wg         66    KG     None  None  None  None  None  None
31153     Wg         74    KG     None  None  None  None  None  None
31154     Wg         74    KG     None  None  None  None  None  None
31155     Wg         74    KG     None  None  None  None  None  None
31156     Wg         74    KG     None  None  None  None  None  None
31157     Wg         84    KG     None  None  None  None  None  None
31158     Wg         84    KG     None  None  None  None  None  None
31159     Wg         84    KG     None  None  None  None  None  None
31160     Wg         84    KG     None  None  None  None  None  None
31161     Wg         96    KG     None  None  None  None  None  None
31162     Wg         96    KG     None  None  None  None  None  None
31163     Wg         96    KG     None  None  None  None  None  None
31164     Wg         96    KG     None  None  None  None  None  None

[31165 rows x 9 columns]

In [93]:
s.Event.str.contains('100M')

0         True
1         True
2         True
3         True
4         True
5        False
6        False
7        False
8        False
9        False
10       False
11        True
12        True
13        True
14        True
         ...
31150    False
31151    False
31152    False
31153    False
31154    False
31155    False
31156    False
31157    False
31158    False
31159    False
31160    False
31161    False
31162    False
31163    False
31164    False
Name: Event, Length: 31165, dtype: bool

In [94]:
s.loc[s.Event.str.contains('100M')]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
11,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100M,Bronze
12,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100M,Bronze
13,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100M,Gold
14,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100M,Silver
230,1900,Paris,Athletics,Athletics,"ROWLEY, Stanley",AUS,Men,100M,Bronze
231,1900,Paris,Athletics,Athletics,"JARVIS, Francis",USA,Men,100M,Gold
232,1900,Paris,Athletics,Athletics,"TEWKSBURY, Walter B. John",USA,Men,100M,Silver
670,1904,St Louis,Aquatics,Swimming,"ZACHARIAS, Georg",GER,Men,100M Backstroke,Bronze
671,1904,St Louis,Aquatics,Swimming,"BRACK, Walter",GER,Men,100M Backstroke,Gold
672,1904,St Louis,Aquatics,Swimming,"HOFFMANN, Georg",GER,Men,100M Backstroke,Silver
...,...,...,...,...,...,...,...,...,...
29650,2012,London,Athletics,Athletics,"JETER, Carmelita",USA,Women,4X100M Relay,Gold
29651,2012,London,Athletics,Athletics,"KNIGHT, Bianca",USA,Women,4X100M Relay,Gold
29652,2012,London,Athletics,Athletics,"MADISON, Tianna",USA,Women,4X100M Relay,Gold
29653,2012,London,Athletics,Athletics,"TARMOH, Jeneba",USA,Women,4X100M Relay,Gold
29654,2012,London,Athletics,Athletics,"WILLIAMS, Lauryn",USA,Women,4X100M Relay,Gold
29655,2012,London,Athletics,Athletics,"CALVERT, Schillonie",JAM,Women,4X100M Relay,Silver
29656,2012,London,Athletics,Athletics,"CAMPBELL-BROWN, Veronica",JAM,Women,4X100M Relay,Silver
29657,2012,London,Athletics,Athletics,"FRASER-PRYCE, Shelly-Ann",JAM,Women,4X100M Relay,Silver
29658,2012,London,Athletics,Athletics,"HENRY-ROBINSON, Samantha",JAM,Women,4X100M Relay,Silver
29659,2012,London,Athletics,Athletics,"SIMPSON, Sherone",JAM,Women,4X100M Relay,Silver
29660,2012,London,Athletics,Athletics,"STEWART, Kerron",JAM,Women,4X100M Relay,Silver
29661,2012,London,Athletics,Athletics,"BRYZGINA, Yelyzaveta",UKR,Women,4X100M Relay,Bronze
29662,2012,London,Athletics,Athletics,"POVH, Olesya",UKR,Women,4X100M Relay,Bronze
29663,2012,London,Athletics,Athletics,"RYEMYEN, Mariya",UKR,Women,4X100M Relay,Bronze
29664,2012,London,Athletics,Athletics,"STUY, Hrystyna",UKR,Women,4X100M Relay,Bronze